body{
    font-family: 'Montserrat', sans-serif;
    position: relative;
    width: 99%;
    margin-bottom: 46%;
}
.branco{
    position: absolute;
    top: -61%;
    left: -0.5%;
    right: 0%;
    width: 99%;
    height: 3517%;
    background-color: #ffffff79;
    z-index: 10;
}
video{
    position: fixed;
    top: -7%;
    width: 100%;
    height: 135vh;
    z-index: 1;
} 
.logo{
    position: fixed;
    top: 8.5%;
    left: 3.5%;
    z-index: 200;

}
.prin{
    position: absolute;
    font-size: 135px;
    text-align: center;
    font-weight: 900;
    margin-top: 24%;
    margin-left:22%;
    margin-bottom: 0%;
    z-index: 200;
    background: url(../img/banner_text_bg.jpg);
    background-size: 156% 254%;
    background-position: 8% 24%;
    background-clip: text;
    -webkit-background-clip: text;
    color: rgba(218, 165, 32, 0);

} 
h3{
    position: absolute;
    top: -10%;
    left: 46%;
    color: black;
    z-index:100;
    font-size: 19px;
    font-weight: 600;
    margin-top: 42%;

}
.a{
    position: absolute;
    top: -10%;
    left: 46%;
    color: black;
    text-decoration: none;
    z-index:200;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 7px;
 

} 
.b{
    position: absolute;
    top: 377%;
    left: -1%;
    color: black;
    text-decoration: none;
    z-index:200;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 7px;
    transform: rotate(-45deg);
    margin-top: 24%;
} 
.c{
    position: absolute;
    top: 253%;
    left: 92%;
    color: black;
    text-decoration: none;
    z-index:200;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 7px;
    transform: rotate(45deg);
    margin-top: 16.5%;
}
.a:hover,.b:hover,.c:hover{
    color: rgb(92, 92, 92);
}